body{
    font-family: "inter",sans-serif;
    font-size: 15px;
    margin: 0;
    background-color: hsl(233, 47%, 7%);
    color: white;

}

.card{
    width: 1000px;
    display: flex;
    margin-left: 215px;
    margin-top: 150px;
}

.info-card{
    
    width: 490px;
    height: 390px;
    background-color: hsl(244, 38%, 16%);
    border-radius: 10px 0px 0px 10px;
}

.info-text{
    margin-left: 65px;
    margin-right: 110px;
    margin-top: 65px;
}

.color-accent{
    color: hsl(277, 64%, 61%);
}

.info-card h1{
    margin: 0px;
    font-family: 'inter' ,sans-serif;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}

.info-card p{
    margin-bottom: 0px;
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: 1.3px;
    margin-top: 25px;
    font-size: 12px;
    width: 310px;
}

.stat-nums {
    width: 313px;
    margin-left: 65px;
    margin-right: 110px;
    margin-top: 60px;
    font-family: 'inter', sans-serif;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}

.stat-nums ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    
}

.stat-nums li{
    flex-grow:1;
}

.stat-nums ul :nth-child(3){
    flex-grow:0;
}

.stat-nums h2{
    margin: 0px;
    padding: 0px;
}

.stat-names {
    width: 313px;
    margin-left: 65px;
    margin-right: 110px;
    font-family: 'lexend deca', sans-serif;
    font-weight: 100;
    font-size: 12px;
    color: hsla(0, 0%, 100%, 0.6);
}

.stat-names ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    
}

.stat-names li{
    flex-grow:1;
}

.stat-names ul :nth-child(3){
    flex-grow:0;
}

.img-card{
    width: 470px;
    height: 390px;
    background-color: hsl(277, 75%, 25%);
    border-radius: 0px 10px 10px 0px;
}

.img-card img{
    opacity: 0.4;
    width: 470px;
    height: 390px;
    border-radius: 0px 10px 10px 0px;
}